*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #AFD2EC;
}

.main-header{
    height: 18px;
    background-color: #AFD2EC;
}

.menu-button {
    color: #391E6D;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    display: block;
    float: right;
    position: relative;
    top: 10px;
    width: 33px;
    height: 33px;
    border: none;
    z-index: 10;
}

.menu-icon{
    width: 25px;
    height: 33px;
}

.menu-button:hover{
    background-color: rgba(0,0,0,0.15);
    border-radius: 4px;
}

.header-container{
    height: 50px;
}

.icon{
    width: 104px;
    height: 104px;
}

.middle-section{
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hiker-img{
    width: 100%;
}