*{
    margin: 0;
    padding: 0;
}


.main-header{
    height: 18px;
    background-color: #AFD2EC;
}

.menu-button {
    color: #391E6D;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    display: block;
    float: right;
    position: relative;
    top: 10px;
    width: 33px;
    height: 33px;
    border: none;
    z-index: 10;
}

.menu-icon{
    width: 25px;
    height: 33px;
}

.menu-button:hover{
    background-color: rgba(0,0,0,0.15);
    border-radius: 4px;
}

.header-container{
    height: 50px;
    background-color: #AFD2EC;
}

.icon{
    width: 104px;
    height: 104px;
}

.middle-section{
    max-width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AFD2EC;
}

.hiker-img{
    width: 100%;
}

.main-title{
    font-family: Arial, Helvetica, sans-serif;
    color: #230545;
    font-size: 40px;
    font-weight: 800;
    padding: 0;
    line-height: 1.33;
    margin: 20px 0;
}

.main-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #230545;
    font-size: 21px;
    line-height: 1.5;
    max-width: 610px;
    text-align: center;
}

.page-about{
    background-color: #230545;
    height: 370px;
    position: relative;
    top: -5px;
}

.text-about-container{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-about {
    color: #fff;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 750px;
    text-align: center;
    font-weight: 300;
}

.about-hr{
    width: 50px;
    margin: 50px auto;
    border: 0px;
    height: 2px;
    background-color: #3FA4F2;
}

.about-small-title{
    color: #80748F;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    top: -90px;
}

.fact-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 266px;
    padding: 16px 0px 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: #333;
    box-shadow: 0 22px 48px -12px rgb(0 0 0 / 12%);
    border-radius: 4px;
    background-color: #fff;
}

.card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    margin-bottom: 9px;
    font-weight: bold;
    line-height: 1;
    color: #111;
}

.card-subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 15px;
    font-weight: bold;
    color: #111;
}

.card-text{
    padding: 0px;
    font-size: 16px;
    line-height: 1;
    color: #666;
}

.abt-mission-container{
    text-align: center;
    padding-top: 100px;
    margin-top: -100px;
    background-color: #f7f7f7;
}

.abt-mission-hr{
    margin-top: 100px;
}

.mission-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #222;
    line-height: 1;
    margin-bottom: 30px;
}

.mission-paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    max-width: 550px;
    color: #494949;
    margin: 0 auto;    
}

.milestone-img{
    width: 100px;
    height: 100px;
}

/*story section*/
.story-section {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-around;
    align-items: center;
    height: 541px;
    font-family: Arial, Helvetica, sans-serif;
}

.img-story{
    display: flex;
    justify-content: center;
}

.arrows{
    width: 40px;
    height: 40px;
    background-color: #EEE;
    border-radius: 50%;
}

.arrows:hover {
    cursor: pointer;
}

.abt-title{
    font-size: 36px;
    font-weight: bold;
    columns: #222;
    margin-bottom: 30px;
    text-align: center;
}

.abt-paragraph{
    color: #494949;
    max-width: 550px;
    font-size: 18px;
    margin: 0 auto;  
    text-align: center;  
}

/*time line*/
.time-line{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 100px;
}

.play-timelie{
    background-color: #E74C58;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-line-icon{
    width: 30px;
    height: 30px;
}

.timeline-circle{
    background-color: #E74C58;
    width: 36px;
    height: 36px;
    border-radius: 50%;    
}

.timeline-years{
    color: #E74C58;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 50px;
}

.timeline-horizontal-line{
    width: 50px;
    margin: 0px;
}

/*about blog*/
.abt-blog{
    background-color: #f7f7f7;
    padding-top: 95px;
    padding-bottom: 95px;
    text-align: center;
    height: 150px;
}

.abt-blog-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    color: #222;
    margin-bottom: 30px;
}

.abt-blog-subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 10px;
    color: #494949;
    max-width: 550px;
    margin: 0 auto;
}

.blog-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -90px;
}

.blog-card-article{
    height:350px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 22px 48px -12px rgb(0 0 0 / 12%);
    border-radius: 1%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.blog-card-article-img{
    height: 180px;
    width: 300px;
    display: block;
    background: #fff no-repeat 50%;
}

.blog-card-title{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1.3;
    font-weight: 500;
    color: #222;
}

.blog-card-topic{
    width: 250px;
    color: rgba(51,51,51,0.66);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

/*hiring section*/
.hiring-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiring-image{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.hiring-title{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    font-weight: bold;
    color: #222;
    line-height: 1;
}

.hiring-subtitle{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 550px;
    color: #494949;
    font-weight: 500;

}

.apply-button{
    margin-top: 30px;
    width: 100%;
    max-width: 260px;
    background-color: #66ABFF;
    text-transform: none;
    box-sizing: border-box;
    border-radius: 22px;
    font-size: 14px;
    letter-spacing: 0.7px;
    height: 42px;
    line-height: 37px;
    border:none;
    color: #fff;
    font-weight: 600;
    outline: none;
    padding: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}